.git
.gitignore
.cursor
.idea
.vscode
log/*
tmp/*
coverage
files/*
db/*.sqlite3*
db/*.db
config/database.yml
config/configuration.yml
config/secrets.yml
config/initializers/secret_token.rb
config/additional_environment.rb
public/assets
vendor/cache
node_modules
test
doc
README.rdoc
*.md
.dockerignore
.env
.env.*
